<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button *ngFor="let button of buttons" (click)="selectFunction(button)"
      [color]="buttonSelected === button ? 'primary': 'medium'">
      <ion-icon [name]="button.icon"></ion-icon>
    </ion-button>
  </div>

  <canvas style="border: 1px #fff solid; width: 100%; height: 300px; background-color: white;" #imageCanvas
    (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)" (mousemove)="moved($event)"
    (touchmove)="moved($event)" (mouseup)="endDrawing()" (touched)="endDrawing()"></canvas>

  <!--   <canvas *ngIf="buttonSelected.id !== 1"
    style="border: 1px #fff solid; width: 100%; height: 400px; background-color: white;" #imageCanvas></canvas> -->

  <div *ngIf="buttonSelected.id === 1">
    <ion-row>
      <ion-col *ngFor="let color of colors" [style.background]="color" style="height: 45px;" class="color-block"
        tappable (click)="selectColor(color)"></ion-col>
    </ion-row>
    <ion-radio-group [(ngModel)]="selectedColor">
      <ion-row>
        <ion-col *ngFor="let color of colors" class="ion-text-center">
          <ion-radio [value]="color"></ion-radio>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-range min="2" max="20" color="primary" [(ngModel)]="lineWidth" style="width: 90%; margin: 0 auto;">
      <ion-icon size="small" slot="start" name="brush"></ion-icon>
      <ion-icon slot="end" name="brush"></ion-icon>
    </ion-range>
  </div>

  <div *ngIf="buttonSelected.id === 4" class="flex border border-black bg-gray-100">
    <div *ngFor="let shape of shapes" class="bg-white border-2 border-black p-1" (click)="backgroundImage = shape">
      <img [src]="shape" alt="Imagem flecha" class="w-12">
    </div>
  </div>

  <div
    [class]="(buttonSelected.id !== 2 && buttonSelected.id !== 3 && buttonSelected.id !== 4) ? 'invisible hidden': 'visible block'">
    <div #resizableElement
      [class]="'resizable-element bg-transparent ' + (!backgroundImage && buttonSelected.id == 2 ? 'invisible' : 'visible')"
      (mousedown)="onMouseDown($event)" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}"
      (touchstart)="onTouchStart($event)">
      <div class="resize-handle" (mousedown)="onResizeMouseDown($event)" (touchstart)="onResizeTounched($event)"></div>
      <!--Conteúdo redimensionável-->
      <p *ngIf="buttonSelected.id === 3" class="text-black text-lg">{{ textValue }}</p>
    </div>

    <div *ngIf="buttonSelected.id === 2 || buttonSelected.id === 4" class="mt-2 flex justify-between gap-2">
      <ion-button class="w-full rounded-full" (click)="setImageOnCanvas()">
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
        Confirmar
      </ion-button>
      <ion-button class="w-full rounded-full" (click)="cancelImage()" color="danger">
        <ion-icon slot="start" name="close-circle"></ion-icon>
        Cancelar
      </ion-button>
    </div>
  </div>

  <div *ngIf="buttonSelected.id === 3" class="mt-2 flex justify-between gap-2">
    <ion-button class="w-full rounded-full" (click)="drawText()">
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      Confirmar
    </ion-button>

    <ion-button class="w-full rounded-full" (click)="cancelText()" color="danger">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Cancelar
    </ion-button>
  </div>

  <div class="flex justify-between gap-2 mt-2 mx-2">
    <ion-button class="w-full rounded-full" (click)="clear()" color="danger">
      <ion-icon slot="start" name="trash"></ion-icon>
      Limpar
    </ion-button>
    <ion-button class="w-full rounded-full" (click)="exportCanvasImage()">
      <ion-icon slot="start" name="download"></ion-icon>
      Export Canvas Image
    </ion-button>
  </div>

  <div class="my-3">
    <img *ngIf="imageSaved" [src]="imageSaved">
  </div>
</ion-content>

<ion-modal [isOpen]="whriteText">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="whriteText = false">
            Fechar
          </ion-button>
        </ion-buttons>
        <ion-title>Texto</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="flex justify-center">
      <ion-textarea class="w-11/12" [(ngModel)]="textValue" placeholder="Digite um texto" rows="10"></ion-textarea>
    </div>
    <ion-button class="w-11/12 rounded-xl mx-auto m-2" (click)="this.whriteText = false">Confirmar</ion-button>
  </ng-template>
</ion-modal>