.resizable-element {
    position: absolute;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    z-index: 50;
    top: 50px;
    //object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resize-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #a393ff;
    border-radius: 100%;

    cursor: nwse-resize;
    right: -10px;
    bottom: -10px;
}

ion-modal {
    --width: 85vw;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}