.resizable-element {
    position: absolute;
    border: 1px solid #000;
    background-color: lightblue;
    width: 100px;
    height: 100px;
    z-index: 50;
    top: 50px;
    //object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resize-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #a393ff;
    border-radius: 100%;

    cursor: nwse-resize;
    right: -10px;
    bottom: -10px;
}