<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #resizableElement class="resizable-element" (mousedown)="onMouseDown($event)">
    <div class="resize-handle" (mousedown)="onResizeMouseDown($event)"></div>
    Conteúdo redimensionável
  </div>



</ion-content>